#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw !important;
  margin-bottom: 1.5rem;
  background-color: black;
  color: whitesmoke;
  padding: 0.7rem 10rem;

  .header-text {
    all: unset;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
  }

  a {
    all: unset;
  }

  .icons {
    display: flex;
    column-gap: 1.5rem;
    cursor: pointer;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  #header {
    padding: 1rem;

    .icons {
      column-gap: 0.5rem;
    }
  }
}
