#draggable-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70%;
  padding: 1rem 10rem;
  padding-bottom: 2rem;

  .testcase {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  .text-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
  }

  .text-area {
    height: 100%;
    width: 100%;
  }
}

.mantine-Input-wrapper {
  height: 100%;
}

.mantine-Textarea-input {
  height: 100%;
}
